@font-face {
  font-family: nomark;
  src: url(Nomark.otf);
}


.colorP {
    color: #102B3F;
    color: #fff
}

#colors a{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;

}



.top-30rem{
    
    top: 30rem
}

.top-32rem{
    
    top: 32rem
}

.top-28rem{
    
    top: 28rem;
}

#client div input,label{
    
    margin-bottom: 5px
}

select{
    background: none;
}

#ccard{
    
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

#ccard input{
    
    background: none;
}




@media only screen and (max-width:640px){
    
    #product{
     position: absolute;
        top: 38rem;
        width: 80%;
        left: 5rem;
        margin-left: 2rem;
        margin-right: auto;
        display: flex;
        
    }
    
    
    
}

@media only screen and (max-width:767px){
    
    #product{
        top: 32rem;
      
    }
}



.logo{
display:inline-flex;
    width: 80px;
    font: size 2rem;
}

#logo{
    display:flex;
    flex-direction:column;
 
}

.font{
    font-family: nomark
}

z-40 justify-center fixed mx-auto  w-3/4 md:w-3/4 sm:w-3/4 sm:left-1/4 md:top-24 lg:top-10 my-auto